
* {
    font-family: "Lexend", sans-serif;
}

.imagen_carrusel{
    height: 800px;
    width: 100vh;
    object-fit: cover;
}

body {
    background-image: url('../imagenes/prueba.jpeg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    margin: 0; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
