
* {
    font-family: "Lexend", sans-serif;
}

body {
    background-image: url('../imagenes/prueba.jpeg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    margin: 0; 
}

